<<<<<<< HEAD
<h1>New Actor</h1>
<%= form_for @actor do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.submit %>
<% end %>
<%= link_to "Home", actors_path %>
=======
<h1>Add an actor</h1>

<%= form_for @actor do |f| %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.submit %>
<% end %>
>>>>>>> b6f563e4e6ddbbc2addd3b2b5d4ed2beb35a8b05
